
<!-- Hiển thị 1 người -->
<div class="box_luckey_draw">
    <div class="box_1th">
    <h3>Phiếu may mắn</h3>
        <p id="lucky_2th"></p>
    <button class="button_lucky_draw button_1th" onclick="gift_2th_loading()">
    <p class="quay_1th">QUAY</p>
</button>
    </div>
</div>
<div class="info-1th">
    <p id="name_2th"></p>
    <hr>
    <p id="phone_2th"></p>
</div>

<!-- Hiển thị 70 người -->
<button class="button_lucky_draw button_4th" onclick="gift_4th_loading()">
    <p class="quay_4th">QUAY</p>
</button >

<div class="box_luckey_draw">
    <div class="box_4th"><h3 style="text-align:left;">Danh sách khách hàng may mắn:</h3><span id="gift4th"></span>
    </div>
</div>

<div id="loaderId"></div>