
// Tạo danh sách trúng thưởng demo
<h1>Array:</h1>
<p id="demo"></p>

<button onclick="myFun()">Push</button>

<p>
  Mã may mắn: <span id="mamayman"></span>
</p>

<script type="text/javascript">
function myFun() {
  var arr = new Array(1700);
  
  // var t = arr.length;
  for (var i = 0; i < arr.length; i++) {
    var obj = {'lucky':'','name':'namedemo','phone':''};
    obj.lucky = "btk_"+(i+1);
    obj.phone = 84979900001+i;
    arr[i] = obj;
  };

  var myString = JSON.stringify(arr);
  document.getElementById("demo").innerHTML = myString;
}

// function myFun() {
// const months = ["January", "February", "March", "April", "May", "June", "July"];

// const random = Math.floor(Math.random() * months.length);
// console.log(random, months[random]);
// }
</script>


<!-- Tìm người trúng thưởng -->
<script type="text/javascript">

function randomcustom() {
  var randomItem = winnerbTaskee[Math.floor(Math.random()*winnerbTaskee.length)];
  
    // document.getElementById("current").innerHTML = "";
    
  // In ra 1 người chiến thắng
  document.getElementById("lucky").innerHTML = randomItem.lucky;
  document.getElementById("name").innerHTML = randomItem.name;
  document.getElementById("phone").innerHTML = randomItem.phone;
  
    // Xoá các phần tử trùng
    for( var i = 0; i < winnerbTaskee.length; i++){ 
       if ( winnerbTaskee[i].phone === randomItem.phone) {
         winnerbTaskee.splice(i, 1); 
       }
    }
  
    // Danh sách còn lại

//     for( var j = 0; j < winnerbTaskee.length; j++){
//      var node = document.createElement("LI");
//    var textnode = document.createTextNode(winnerbTaskee[j].lucky + " - " + winnerbTaskee[j].name + " - " + winnerbTaskee[j].phone);
//         node.appendChild(textnode);
//    document.getElementById("current").appendChild(node);
//     }

    // Số lượng còn lại
    document.getElementById("current").innerHTML = winnerbTaskee.length;
}
</script>


<!-- Tìm 70 người trúng thưởng giải 4 -->
<script type="text/javascript">

function gift_4th() {
  for (var t = 1; t <= 70; t++) {

    // In ra lần lượt người đạt giải
    var randomItem = winnerbTaskee[Math.floor(Math.random()*winnerbTaskee.length)];
    var node = document.createElement("LI");
    var textnode = document.createTextNode(t + ": " + randomItem.lucky + " - " + randomItem.name + " - " + randomItem.phone);
    node.appendChild(textnode);
    document.getElementById("gift4th").appendChild(node);

    // Xoá các phần tử trùng
    for( var j = 0; j < winnerbTaskee.length; j++){ 
       if ( winnerbTaskee[j].phone === randomItem.phone) {
         winnerbTaskee.splice(j, 1); 
       }
    }

  }

  // Số lượng còn lại
  document.getElementById("current").innerHTML = winnerbTaskee.length;
}
</script>