body, h3, p, span {
    font-family: "Montserrat", Sans-serif !important;
    font-weight: 600;
}

span#gift4th, h3, p[id^=name], p[id^=phone] {
    color:white !important;
}

h3, p[id^=lucky], p[id^=name], p[id^=phone] {
    text-align: center;
}

button:focus, button:active{
     outline: 0;     
}

/*Button lucky draw*/
.button_lucky_draw {
    color: white !important;
    position: absolute;
    border:5px solid #FBC930 !important;
    border-radius: 50px !important;
    padding: 10px 50px !important;
    box-shadow: 0px 5px 0px #A55309 !important;
    background-image: linear-gradient(#FDA527, #FF6A06);
}

.button_lucky_draw:active{
    box-shadow: 0px 0px 0px #A55309 !important;
    transform: translateY(5px) !important;
}

.button_active {
    animation: myAnimation 5s linear 0s 1 normal;
}
@keyframes myAnimation {
    from {background-image: linear-gradient(red, blue);}
    to {background-image: linear-gradient(white, green);}
}

/*Box lucky draw*/
.box_luckey_draw {
    border: 5px solid #FFC527;
    border-radius: 30px;
    background-color: #126840;
    width: 85%;  
    padding: 50px;
}

/*4th button draw*/
.button_4th {
    left: 38%;
    margin-top: 82%;
}

/*4th box draw*/
.box_4th {
    height: 550px;
    overflow-y: scroll;
    list-style-type:none;
}

/*4th scroll*/
.box_4th::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;
}
.box_4th::-webkit-scrollbar-track {
  background: #0D422A;
  border-radius: 50px;
}
.box_4th::-webkit-scrollbar-thumb {
  background: #FF8228; 
  border-radius: 50px;
}


/*1th button draw*/
.button_1th {
    left: 31%;
    margin-top: 30px;
}

/*1th box draw*/
.box_1th {
    height: 200px;
}

/*1th box ticket*/
.box_1th [id^=lucky] {
    display: block;
    margin: 0 auto;
    padding: 10px 0px;
    height: 56px;
    border-radius: 5px;
    background-color: white;
    font-size: 24px;
}

[id^=name], [id^=phone]{
    font-size: 24px;
    height: 36px;
}

hr {
    margin: 10px !important;
}

.info-1th {
    width: 85%;
    margin-top: 30px;
}

.loader {
  position: fixed;
  top: 40%;
  left: 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #FF8228;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear 3;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
